body{
background-color: aqua
};

.conteudo{
    margin: 10px 20vw 10px 20vw;
    height: 700px;
    width: 60vw;
}

.info {
    width: 100%;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
}

.imagem{
    width: 200px;
    height: 200px;
}

.foto{
    width: 30%;
    margin: 10px;
}

.informacoes{
    width: 70%;
    margin: 10px;
    background-color: rgb(144, 143, 143);
    padding-left: 200px;
    padding-top: 30px;
    gap: 10px;
}

.label{
    margin: 10px;
}