main{
    background-color: none;
    flex-direction: table;
    position: relative;
    display: flex;
    margin: 5vw;
}

.img{
    margin-left: 17.5vw;
    margin-right: 1.5vw;
    height: 50vh;
    width: 30vw;
    background-color: rgb(185, 185, 185);;
    border-radius: 15px;
}


.conteudo{
    margin-right: 17.5vw;
    margin-left: 1.5vw;
    height: 60vh;
    width: 30vw;
    background-color: rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5px;
}

.label{
    display: flex;
    flex-direction: column;
}

.input{
    border: 1px solid gray;
    height: 20px;
    width: 200px;
}

.button{
    height: 25px;
    width: 200px;
    background-color: gray;
    font-weight: bold;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

.button-hover{
    height: 25px;
    width: 200px;
    background-color: rgb(161, 161, 161);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

/* 
.conteudo .formulario > span{
    color: red;
    position:static;
    margin-top: -7px;
}

.picture{
    width: 400px;
    height: 400px;
}

.picture__input{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.formimage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 50vh;
    width: 30vw;
    cursor: pointer;
    border-radius: 10px;
}

.img_nameinfo{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgb(185, 185, 185);
}

.img_content{
    display: flex;
    align-items: center;
}