.CABECALHO {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: #000000;
  height: 100px;


}

.NAV-BAR {
  display: flex;
  gap: 19px;
  align-items: center;
}

.ICONE2 {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 60px;
  padding: 0px;
  border: 0px solid rgba(0, 0, 0, 0);

  border-radius: 55px;
  background: #01282e;
  box-shadow: inset 10px 10px 20px #000000, inset -10px -10px 20px #000000;

  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.ICONE2:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.9.1);

  border-radius: 55px;
  background: rgb(110, 5, 5);
  box-shadow: inset 10px 10px 20px #ff0000, inset -10px -10px 20px #ff1100;

  border: 3px solid rgb(255, 255, 255);
}

.ICONE {
  height: 100px;
  padding: 0px;
  width: 250px;
  object-fit: cover;
}

.ICONE3{
  height: 45px;
  padding: 0px;
  margin-right: -70%;
  width: 45px;
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
}

.ICONE3:hover {
  transform: rotate(10deg);
  animation: balanco 0.4s ease-in-out infinite alternate;
  }
@keyframes ICONE3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
}
}


