<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>OVER BODY</title>
  <link rel="stylesheet" href="./style.css" >
  
</head>
<body>
  
  <nav class="CABECALHO">
  <a href="../Global/Cabecalho.jsx" class="Icone-nav"> 
    <img className="ICONE" src="OVER BODY5.png" alt="Logo"/>
  </a>
  </nav>
  

  <div class="container">
    <div class="box"></div>
      <div class="container-forms">
        <div class="container-info">
          <div class="info-item">
            <div class="table">
              <div class="table-cell">
                <p>
                  Já tem uma Conta?
                </p>
                  <div class="btn">
                    Entrar
                  </div>
             </div>
           </div>
         </div>
        <div class="info-item">
          <div class="table">
            <div class="table-cell">
              <p>
                Não tem uma Conta? 
              </p>
              <div class="btn">
                Cadastre-se
              </div>
            </div>
          </div>
       </div>
      </div>
      <div class="container-form">
        <div class="form-item log-in">
          <div class="table">
            <div class="table-cell">
                
                <input  name="Username" placeholder="Username" type="text" />
              
              <input name="Password" placeholder="Password" type="Password" />
              <div class="btn">
                Entrar
              </div>
            </div>
          </div>
        </div>
        <div class="form-item sign-up">
          <div class="table">
            <div class="table-cell">
              <input name="email" placeholder="Email" type="text" />
              <input name="fullName" placeholder="Nome Completo" type="text" />
              <input name="Username" placeholder="Nome de Usuario" type="text" />
              <input name="Password" placeholder="Senha" type="Password" />
              <div class="btn">
                Cadastre-se
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="./script.js"></script>

</body>
</html>
